.home-container {
    position: relative;
    width: 0;
    height: 0;
    border-left: 500px solid transparent; /* Üçgenin sol kenarı */
    border-right: 500px solid transparent; /* Üçgenin sağ kenarı */
    border-bottom: 600px solid #4caf50; /* Üçgenin rengi ve alt kenarı */
    margin: auto;
    margin-top: 8%;
}

.content-container {
    position: fixed;
    top: 78%; /* Üçgenin altına doğru hizalar */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.home-heading {
    font-size: 24px;
    font-weight: bold;
    color: darkred;
}

.home-page-button button {
    background-color: darkorange;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    color: darkred;
    font-size: large;
    font-weight: 600;
}
