.container {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

input {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

button {
    padding: 5px;
}

select {
    padding: 5px;
}

